.box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: #2b2b2b;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
    padding: 30px;
    border-radius: 9px;
    color: #f5f5f5;
}