<table class="table" id="teamStats">
    <thead>
        <tr>
            <th>{{matchData.leftTeam.teamName}}</th>
            <th>vs.</th>
            <th>{{matchData.rightTeam.teamName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{matchData.leftTeam.goals}}</th>
            <th>Goals</th>
            <th>{{matchData.rightTeam.goals}}</th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.shots}}</th>
            <th>Shots</th>
            <th>{{matchData.rightTeam.shots}}</th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.onTargetShots}}</th>
            <th>Shots on target</th>
            <th>{{matchData.rightTeam.onTargetShots}}</th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.shotAccuracy}}%</th>
            <th>Shot accuracy</th>
            <th>{{matchData.rightTeam.shotAccuracy}}%</th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.possession}}%</th>
            <th>Possession</th>
            <th>{{matchData.rightTeam.possession}}%</th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.completedPasses}}</th>
            <th>Completed passes</th>
            <th>{{matchData.rightTeam.completedPasses}}</th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.wrongPasses}}</th>
            <th>Wrong passes</th>
            <th>{{matchData.rightTeam.wrongPasses}}</th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.passAccuracy}}%</th>
            <th>Pass accuracy</th>
            <th>{{matchData.rightTeam.passAccuracy}}%   </th>
        </tr>
        <tr>
            <th>{{matchData.leftTeam.interceptions}}</th>
            <th>Interceptions</th>
            <th>{{matchData.rightTeam.interceptions}}</th>
        </tr>
    </tbody>
</table>