<app-loading-spinner [isLoading]="isLoading()"></app-loading-spinner>

<div *ngIf="!(isLoading() | async)" class="container">
    <div>
        <h3>Match Stats</h3>
        <hr>
        <table class="table table-dark table-striped table-hover" id="teamStats">
            <thead>
                <tr>
                    <th>{{matchData.leftTeam.teamName}}</th>
                    <th>vs.</th>
                    <th>{{matchData.rightTeam.teamName}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{matchData.leftTeam.goals}}</td>
                    <td>Goals</td>
                    <td>{{matchData.rightTeam.goals}}</td>
                </tr>
                <tr>
                    <td style="white-space: pre-wrap">{{parseScorers(matchData.leftTeam.scorers)}}</td>
                    <td>Scorers</td>
                    <td style="white-space: pre-wrap">{{parseScorers(matchData.rightTeam.scorers)}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.shots}}</td>
                    <td>Shots</td>
                    <td>{{matchData.rightTeam.shots}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.onTargetShots}}</td>
                    <td>Shots on target</td>
                    <td>{{matchData.rightTeam.onTargetShots}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.shotAccuracy}}%</td>
                    <td>Shot accuracy</td>
                    <td>{{matchData.rightTeam.shotAccuracy}}%</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.possession}}%</td>
                    <td>Possession</td>
                    <td>{{matchData.rightTeam.possession}}%</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.completedPasses}}</td>
                    <td>Completed passes</td>
                    <td>{{matchData.rightTeam.completedPasses}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.wrongPasses}}</td>
                    <td>Wrong passes</td>
                    <td>{{matchData.rightTeam.wrongPasses}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.passAccuracy}}%</td>
                    <td>Pass accuracy</td>
                    <td>{{matchData.rightTeam.passAccuracy}}%   </td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.interceptions}}</td>
                    <td>Interceptions</td>
                    <td>{{matchData.rightTeam.interceptions}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.fouls}}</td>
                    <td>Fouls</td>
                    <td>{{matchData.rightTeam.fouls}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.offsides}}</td>
                    <td>Offsides</td>
                    <td>{{matchData.rightTeam.offsides}}</td>
                </tr>
                <tr>
                    <td>{{matchData.leftTeam.corners}}</td>
                    <td>Corners</td>
                    <td>{{matchData.rightTeam.corners}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>