<app-loading-spinner [isLoading]="isLoading()"></app-loading-spinner>

<div class="container">
  
  <h3>Upload Files</h3>
  <hr>

  <div>
    <div class="form-group">
      <label>RCG file:</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile-rcg" (change)="onRCGFileChanged($event)">
        <label class="custom-file-label" for="customFile-rcg" id="customFileLabel-rcg">Select .rcg file</label>
      </div>
    </div>

    <div class="form-group">
      <label>RCL file:</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile-rcl" (change)="onRCLFileChanged($event)">
        <label class="custom-file-label" for="customFile-rcl" id="customFileLabel-rcl">Select .rcl file</label>
      </div>
    </div>

    <button *ngIf="canUpload()" class="btn btn-primary" (click)="submitFiles($event)">Upload</button>

    <hr>

    <div *ngIf="!successfulUpload() && hasUploaded; else successMessage" class="alert alert-danger" role="alert">
          Unsuccessful Upload - {{ getMessage() }}
    </div>
          
    <ng-template #successMessage>
      <div *ngIf="hasUploaded" class="alert alert-success" role="alert">
          Successful Upload! Checkout match stats <a routerLink="{{'/matches/' + getMessage()}}">here</a>.
      </div>
    </ng-template>
  </div>

</div>